<a href="https://colab.research.google.com/github/jgvroallos/VDA-CPE031-CPE21S4/blob/main/Exercise_2_VDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Use of Pandas Library in Python

In [5]:
import pandas

mydataset = {
  'animals':["Cat","Dog","Rabbit"],
  'height':[13,17,8]
  }

myvar = pandas.DataFrame(mydataset) # multi-dimensional set

print(myvar)

  animals  height
0     Cat      13
1     Dog      17
2  Rabbit       8

Example No.1

In [3]:
import pandas as pd

a = [1,7,2]

myvar = pd.Series(a) # 1-dimensional set

print(myvar)

0    1
1    7
2    2
dtype: int64

Example No. 2

In [4]:
import pandas as pd

a = [1,7,2]

myvar = pd.Series(a)

print(myvar[0]) # prints item/element in index

1

In [6]:
import pandas as pd

a = [1,7,2]

myvar = pd.Series(a, index = ["x","y","z"]) # puts labels

print(myvar)

x    1
y    7
z    2
dtype: int64

Example No. 3

In [7]:
import pandas as pd

data = {"age": [42, 38, 39],
        "weight": [50, 40, 45]
       }

myvar = pd.DataFrame(data)

print(myvar)

   age  weight
0   42      50
1   38      40
2   39      45

Locating Rows

In [17]:
import pandas as pd

a = [1,7,2]

myvar = pd.Series(a)

print(myvar.loc[0]) # var.loc[index]

1

In [18]:
import pandas as pd

data = {"age": [42, 38, 39],
        "weight": [50, 40, 45]
       }

myvar = pd.DataFrame(data)

print(myvar.loc[[0,1]]) # var.loc[[multiple indexes]]

   age  weight
0   42      50
1   38      40

Named Indexes

In [19]:
import pandas as pd

data = {"calories": [420, 380, 390],
        "duration": [50, 40, 45]
       }

df = pd.DataFrame(data, index = ["day1", "day2", "day3"]) #labelling dataframes

print(df)

      calories  duration
day1       420        50
day2       380        40
day3       390        45

Example No. 4

In [26]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1,s2,s3])

#print(dframe.loc[[1,2]])
print(dframe.drop(0))

   0  1   2
1  1  5   9
2  2  6  10

Example No. 5

In [41]:
import pandas as pd
s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

#creating multi-dimensional table
dframe = pd.DataFrame([s1,s2,s3,s4],index =[0,1,2,3], columns =[0,1,2])
print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

In [38]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])

dframe = pd.DataFrame([s1,s2,s3])

s4 = pd.Series([5,10,15])

dframe = dframe._append(s4, ignore_index = True)
#dframe = pd.concat([dframe, s4], ignore_index = True)

print(dframe)

   0   1   2
0  0   4   8
1  1   5   9
2  2   6  10
3  5  10  15

# Challenge Section

How are you going to delete indices no. 0, 1 and 3, leaving only all items of index 2?

In [44]:
import pandas as pd

s1 = pd.Series([0,4,8])
s2 = pd.Series([1,5,9])
s3 = pd.Series([2,6,10])
s4 = pd.Series([5,10,15])

dframe = pd.DataFrame([s1,s2,s3,s4]) #compiling series to one dataframe

dframe = dframe.drop([0,1,3]) #removes data from 0, 1 and 3

print(dframe)

   0  1   2
2  2  6  10